*.py[cod]
*.pyd
*.pyo
*.pyw
__pycache__/
dist/
build/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
 Pipfile
Pipfile.lock
.tox/
.venv/
venv/

.aider.chat.history.md

